*   { 
    font-family: 'Lato', sans-serif;

}

html, body    {
    margin: 0px;
    height: 100%;
    font-weight: bold;
    background-image: url("assets/background.jpeg");
    background-size: cover;
}


/* HUD CONTAINER */
 .hud-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 4%;
    width: 100%;
    margin-top: 10px;
    padding-top: 5%;
    padding-bottom: 10%;
    color: #ededed;
    background-image: url("assets/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
}

 /* HUD CONTAINER - PLAYER 1 */
.p1-container   {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 40px;
}

 .p1-icon   {
   justify-content: center; 
   margin-top: 5%;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   line-height: 1;
   font-size: 60px;
 }

 .p1-wins   {
    justify-content: center;
    margin-top: 0px;
 }

 /* HUD CONTAINER - MESSAGE CONTAINER */
 .message-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 40px;
 }

.message {
    text-align: center;
}


 /* HUD CONTAINER - PLAYER 2 */
 .p2-container   {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 40px;

}

 .p2-icon   {
    justify-content: center; 
    margin-top: 5%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 1;
    font-size: 60px;
  }
 
  .p2-wins   {
     justify-content: center;
     margin-top: 0px;
  }

/* TIC TAC TOE CONTAINER */
.tic-tac-toe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin-top: 2.5%;
}

/* LEFT WING DIV */
.left-wing  {
    width: 25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

/* TIC TAC TOE GRID */
.tic-tac-toe-grid  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 5%;
    height: 390px;
    width: 390px;
}

/* TIC TAC TOE GRID BOXES */
.grid {
    height: 125px;
    width: 125px;
    background: rgba(255, 203, 139, 0.4);
    line-height: 1;
    font-size: 115px;
}

#\31 0  {
    margin-right: 2.5px;
    margin-bottom: 2.5px;
}

#\31 1  {
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 2.5px;
}

#\31 2  {
    margin-bottom: 2.5px;
    margin-left: 2.5px;
}

#\31 3  {
    margin-top: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
}

#\31 4  {
    margin-top: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 2.5px;
}

#\31 5  {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 2.5px;
}

#\31 6  {
    margin-top: 2.5px;
    margin-right: 2.5px;
}

#\31 7  {
    margin-top: 2.5px;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

#\31 8  {
    margin-top: 2.5px;
    margin-left: 2.5px;
}


/* RIGHT WING DIV */
.right-wing  {
    width: 25%;
    height: 100%;
}